In [1]:
import pandas as pd

### Pandas data structure
  1. Series
  2. Data Frame

In [2]:
s = pd.Series([3, -5, 7, 4],  index=['a',  'b',  'c',  'd'])

In [3]:
s

a    3
b   -5
c    7
d    4
dtype: int64

In [4]:
data = {'Country': ['Belgium',  'India',  'Brazil'],

'Capital': ['Brussels',  'New Delhi',  'Brasilia'],

'Population': [11190846, 1303171035, 207847528]}
df = pd.DataFrame(data,columns=['Country',  'Capital',  'Population'])

In [5]:
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528